@font-face {
    font-family: 'Averta';
    src: url('https://krdrt5370000ym.github.io/fonts/averta.woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Averta';
    src: url('https://krdrt5370000ym.github.io/fonts/averta-bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Averta';
    src: url('https://krdrt5370000ym.github.io/fonts/averta-extrabold.woff');
    font-weight: 800;
}
