@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibri.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrib.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrii.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri Light';
    src: url('https://krdrt5370000ym.github.io/fonts/calibril.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri Light';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrili.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibriz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibril.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrili.ttf');
    font-weight: 300;
    font-style: italic;
}