@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comicbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comici.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comicz.ttf');
    font-weight: bold;
    font-style: italic;
}