@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/cour.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/courbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/courbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/couri.ttf');
    font-weight: normal;
    font-style: italic;
}