@font-face {
  font-family: 'DINWebPro';
  font-style: normal;
  font-weight: 400;
  src: url('https://krdrt5370000ym.github.io/fonts/DINWebPro.woff');
}

@font-face {
  font-family: 'DINWebPro';
  font-style: normal;
  font-weight: 600;
  src: url('https://krdrt5370000ym.github.io/fonts/DINWebPro-Bold.woff');
}

@font-face {
  font-family: 'DINWebPro';
  font-style: normal;
  font-weight: 700;
  src: url('https://krdrt5370000ym.github.io/fonts/DINWebPro-Bold.woff');
}
