@font-face {
    font-family: 'Elementarz Caps';
    src: url('https://krdrt5370000ym.github.io/fonts/ElementarzCaps.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Elementarz Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/ElementarzPro.otf');
    font-weight: normal;
    font-style: normal;
}