@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgia.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgiab.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgiaz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgiai.ttf');
    font-weight: normal;
    font-style: italic;
}