@font-face {
    font-family: 'Gill Sans MT';
    src: url('https://krdrt5370000ym.github.io/fonts/GIL_____.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gill Sans MT';
    src: url('https://krdrt5370000ym.github.io/fonts/GILB____.TTF');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gill Sans MT';
    src: url('https://krdrt5370000ym.github.io/fonts/GILBI___.TTF');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Gill Sans MT';
    src: url('https://krdrt5370000ym.github.io/fonts/GILI____.TTF');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Gill Sans MT Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/GILC____.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gill Sans MT Ext Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/GLSNECB.TTF');
    font-weight: bold;
    font-style: normal;
}