@font-face {
    font-family: 'Century Gothic';
    src: url('https://krdrt5370000ym.github.io/fonts/GOTHIC.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('https://krdrt5370000ym.github.io/fonts/GOTHICB.TTF');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('https://krdrt5370000ym.github.io/fonts/GOTHICBI.TTF');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('https://krdrt5370000ym.github.io/fonts/GOTHICI.TTF');
    font-weight: normal;
    font-style: italic;
}