@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-light-italic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-italic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-semibold.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-bold.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-extrabold-italic.ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos';
    src: url('https://krdrt5370000ym.github.io/fonts/aptos-black-italic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/aptosnarrow.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/aptosnarrow-bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/aptosnarrow-bold-italic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Aptos Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/aptosnarrow-italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: url('https://krdrt5370000ym.github.io/fonts/arial.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('https://krdrt5370000ym.github.io/fonts/arialbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('https://krdrt5370000ym.github.io/fonts/arialbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: url('https://krdrt5370000ym.github.io/fonts/ariali.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: url('https://krdrt5370000ym.github.io/fonts/ariblk.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/ARIALN.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/ARIALNB.TTF');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/ARIALNBI.TTF');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('https://krdrt5370000ym.github.io/fonts/ARIALNI.TTF');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arial Black';
    src: url('https://krdrt5370000ym.github.io/fonts/ariblk.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibri.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrib.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrii.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri Light';
    src: url('https://krdrt5370000ym.github.io/fonts/calibril.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri Light';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrili.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibriz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibril.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('https://krdrt5370000ym.github.io/fonts/calibrili.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comicbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comici.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://krdrt5370000ym.github.io/fonts/comicz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/cour.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/courbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/courbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Courier New';
    src: url('https://krdrt5370000ym.github.io/fonts/couri.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Elementarz Caps';
    src: url('https://krdrt5370000ym.github.io/fonts/ElementarzCaps.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Elementarz Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/ElementarzPro.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgia.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgiab.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgiaz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url('https://krdrt5370000ym.github.io/fonts/georgiai.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrt5370000ym.github.io/fonts/times.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrt5370000ym.github.io/fonts/timesbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrt5370000ym.github.io/fonts/timesbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('https://krdrt5370000ym.github.io/fonts/timesi.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Droid Sans Mono';
    src: url('https://krdrt5370000ym.github.io/fonts/DroidSansMono.ttf');
}
@font-face {
    font-family: 'Pixel Grid Square S';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareThinS.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square S';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SqureLiS.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square S';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareNormS.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square S';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareRegS.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square S';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareMidS.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square S';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareBoldS.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlack.eot');
    src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlack.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlack.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-Light.eot');
    src: local('DIN Pro Light'), local('DINPro-Light'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Light.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Light.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro.eot');
    src: local('DIN Pro'), local('DINPro'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-BoldItalic.eot');
    src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BoldItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BoldItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-Bold.eot');
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Bold.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Bold.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBoldItalic.eot');
    src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBoldItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBoldItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-MediumItalic.eot');
    src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-MediumItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-MediumItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-Black.eot');
    src: local('DIN Pro Black'), local('DINPro-Black'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Black.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Black.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMedium.eot');
    src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMedium.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMedium.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLight.eot');
    src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLight.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLight.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-Medium.eot');
    src: local('DIN Pro Medium'), local('DINPro-Medium'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Medium.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Medium.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-Italic.eot');
    src: local('DIN Pro Italic'), local('DINPro-Italic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Italic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Italic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLightItalic.eot');
    src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLightItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLightItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMediumItalic.eot');
    src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMediumItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMediumItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlackItalic.eot');
    src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlackItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlackItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBold.eot');
    src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBold.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBold.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-BlackItalic.eot');
    src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BlackItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BlackItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-LightItalic.eot');
    src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-LightItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-LightItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedItalic.eot');
    src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedItalic.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedItalic.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedRegular.eot');
    src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedRegular.woff2') format('woff2'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedRegular.woff') format('woff'),
        url('https://krdrt5370000ym.github.io/fonts/DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
