@font-face {
    font-family: 'Pixel Grid Square XL';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareThinXL.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square XL';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SqureLiXL.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square XL';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareNormXL.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square XL';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareRegXL.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Grid Square XL';
    src: url('https://krdrt5370000ym.github.io/fonts/PixelGridTrial-SquareBoldXL.otf');
    font-weight: 700;
    font-style: normal;
}
