@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Thin.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Extrabold.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Thin-Italic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Light-Italic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Regular-Italic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Semibold-Italic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Bold-Italic.otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Extrabold-Italic.otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaCondensed-Black-Italic.otf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Thin.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Extrabold.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Thin-Italic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Light-Italic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Regular-Italic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Semibold-Italic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Bold-Italic.otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Extrabold-Italic.otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('https://krdrt5370000ym.github.io/fonts/ProximaNovaExtraCondensed-Black-Italic.otf');
    font-weight: 900;
    font-style: italic;
}
