@font-face {
    font-family: 'Segoe Script';
    src: url('https://krdrt5370000ym.github.io/fonts/segoesc.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe Script';
    src: url('https://krdrt5370000ym.github.io/fonts/segoescb.ttf');
    font-weight: bold;
    font-style: normal;
}