@font-face {
    font-family: 'Segoe Print';
    src: url('https://krdrt5370000ym.github.io/fonts/segoepr.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe Print';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeprb.ttf');
    font-weight: bold;
    font-style: normal;
}