@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeui.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeuib.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeuii.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeuiz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeuil.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/seguili.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/segoeuisl.ttf');
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/seguisli.ttf');
    font-weight: 350;
    font-style: italic;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/seguisb.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/seguisbi.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/seguibl.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('https://krdrt5370000ym.github.io/fonts/seguibli.ttf');
    font-weight: 900;
    font-style: italic;
}