@font-face {
    font-family: 'Tahoma';
    src: url('https://krdrt5370000ym.github.io/fonts/tahoma.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tahoma';
    src: url('https://krdrt5370000ym.github.io/fonts/tahomabd.ttf');
    font-weight: bold;
    font-style: normal;
}