@font-face {
    font-family: 'Trebuchet MS';
    src: url('https://krdrt5370000ym.github.io/fonts/trebuc.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('https://krdrt5370000ym.github.io/fonts/trebucbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('https://krdrt5370000ym.github.io/fonts/trebucbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('https://krdrt5370000ym.github.io/fonts/trebucit.ttf');
    font-weight: normal;
    font-style: italic;
}