@font-face {
    font-family: 'Verdana';
    src: url('https://krdrt5370000ym.github.io/fonts/verdana.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana';
    src: url('https://krdrt5370000ym.github.io/fonts/verdanab.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana';
    src: url('https://krdrt5370000ym.github.io/fonts/verdanaz.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Verdana';
    src: url('https://krdrt5370000ym.github.io/fonts/verdanai.ttf');
    font-weight: normal;
    font-style: italic;
}